{
    "using_algo": "bimpm",
    "with_cv": false,
    "cv_folds": 10,
    "cv_train_path": "../data_snli/cv/train_",
    "cv_train_feat_path": "../data_snli/cv/train_feat_",
    "cv_dev_path": "../data_snli/cv/val_",
    "cv_dev_feat_path": "../data_snli/cv/val_feat_",

    "train_path": "../data_snli/train.tsv",
    "train_feat_path": "../data_snli/train_feat.tsv",
    "dev_path": "../data_snli/dev.tsv",
    "dev_feat_path": "../data_snli/dev_feat.tsv",
    "test_path": "../data_snli/test.tsv",
    "test_feat_path": "../data_snli/test_feat.tsv",
    "out_path": "../data_snli/res/logs_test/dev_result.csv",
    "word_vec_path": "../data_snli/wordvec.txt",
    "word_vec_path2": "../data_snli/glove.txt",
    "char_vec_path": "",
    "model_dir": "../data_snli/res/logs_test",
    "suffix": "snli",
    "isLower": true,
    "pos_weight": 0,
    "seed": 2018,
    
    "max_sent_length": 100,
    "max_char_per_word": 10,
    "max_sent_char_length": 500,
    "fix_word_vec": true,
    "word_emb_dim": 300,
    "with_rcnn": false,
    "word_context_dim": 300,
    "char_context_dim": 20,
    "fc_dim": 300,
    "with_char": true,
    "fix_char_vec": false,
    "char_emb_dim": 20,
    "char_lstm_dim": 40,
    "global_padding": false,
    
    "batch_size": 100,
    "max_epochs": 10,
    "dropout_rate": 0.2,
    "learning_rate": 0.001,
    "optimize_type": "adam",
    "lambda_l1": 0.0,
    "lambda_l2": 0.0,
    "grad_clipper": 10.0,
    
    "context_layer_num": 1,
    "context_lstm_dim": 100,
    "aggregation_layer_num": 1,
    "aggregation_lstm_dim": 100,
    "lstm_out_type": "mean",

    "with_full_match": true,
    "with_maxpool_match": true,
    "with_max_attentive_match": true,
    "with_attentive_match": true,

    "with_cosine": true,
    "with_mp_cosine": true,
    "cosine_MP_dim": 20,

    "att_dim": 50,
    "att_type": "symmetric",

    "highway_layer_num": 1,
    "with_highway": true,
    "with_match_highway": true,
    "with_aggregation_highway": true,

    "use_cudnn": false,

    "with_moving_average": false,
    
    "with_f1_metric": false,

    "filter_sizes_1d": "2,5,50",
    "num_filters_1d": "10,10",
    "num_poolings": 3,
    "conv_type": "",

    "filter_sizes_2d": "5,3",
    "num_filters_2d": "16,16",

    "with_intra_att": false,
    "intra_att_dim": 128,
    "inter_att_dim": 256,
    "compare_layer_dim": 128,

    "with_features": false,
    "feat_dim": 1
}
